extends layout
  
block content
  center 
    h1 RESTAURANTES
    form(method='post', action="/pagina")
        input(style='width:100px; height:100px' type="submit" value="Iniciar" class="btn btn-info")
  