extends layout

block content
    body(style="background:url('images/restaurante.jpg')")
      center
        h21 PRODUCTOS
        form(method='post', action="/confirmacion")
            div(class="container_12")
                h2 BEBIDA
                h4
                    each producto, i in productos
                        if(producto.tipo=="Bebida")
                            p #{producto.nombre} #{producto.precio}  €
                            input(name="cantidad" type='number' min="0" max="50" value="" placeholder="CANTIDAD" style="width:200px;height:50px;font-size:30px;background-color:#FAAC58;color:black")
                div(class="container_12")
                    h2 COMIDA
                    h4
                      each producto, i in productos
                        if(producto.tipo=="Comida")
                          p #{producto.nombre} #{producto.precio} €
                          input(name="cantidad" type='number' min="0" max="50" value="" placeholder="CANTIDAD" style="width:200px;height:50px;font-size:30px;background-color:#FAAC58;color:black")
                div(class="btns")
                  button(type='submit' style="width:200px; height:200px;border-radius:100px; font-size:35px;border:4px;FONT-FAMILY: Verdana")
                    img(src='images/arrowws2.png', alt='' style="width:200px; height:200px;border-radius:100px;border:4px")