extends layout
  
block content
    center
        h1 DATOS CONFIRMADOS
        h2 Su pedido se ha realizado correctamente
        form(method='get', action="/pagina")
                input(type="submit" value="Añadir al pedido" class="btn btn-info")
        &nbsp
        form(method='post', action="/TotalFactura")
                input(type="submit" value="Terminar pedido y Pagar" class="btn btn-info")