extends layout
  
block content
    body(style="background:url('images/credito.jpg')")
        center
            p
            h3 GRACIAS POS SU CONFIANZA
        each t, i in total
            center
                h1 FACTURA
                p
                h12 IMPORTE TOTAL= #{t.Total} €
                p
                form(method='get', action="/")
                    button(type="submit" class="btn btn-lg btn-info" style="width:200px; height:200px;border-radius:100px; font-size:35px;border:4px;FONT-FAMILY: Verdana") Inicio